<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= bot.user.displayAvatarURL({size: 128}) %>">
    <title><%= bot.user.username %></title>
    <link rel="stylesheet" href="/index.css">
    
</head>
<body>
    <header>
        <a href="/home" class="logo"><%= bot.user.username %></a>
        <nav class="navigation">
          <a href="https://discord.gg/442sPUEYpg">Support</a>
          <a href="https://discord.com/api/oauth2/authorize?client_id=994771571669471233&permissions=8&scope=bot">invite Me</a>
          <a href="/Home">Home</a>
        <a href="/logout">Logout</a>
          
        </nav>
        </nav>
    </header>
    
</body>
</html>